:root {
    --high-contrast-back: #000000;
    --high-contrast-text: #ffffff;
    --high-contrast-link: #ffd700;
}
.title {
    font-family: sans-serif;
    text-align: center;
}
.text {
    font-family: "Montserrat";
    margin: 40px;
}
.itens li {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 20px;
    background: gold;
    border-radius: 10px;
}
.itens li:hover{
    background: #00a0a0;
}
.itens a {
    color: #000000;
    font-weight: bold;
}
#Home {
    align-items: center;
    text-align: left;
    display: flex;
    background-image: url('/imagens/fundoDivInf.jpg');
    background-size: cover;
}
#inf{
    color: snow;
    font-weight: 300;
    border-color: #000000;
}
.sem-fundo #Home{
    align-items: center;
    text-align: left;
    display: flex;
    background: #ffffff;
}
.alto-contraste .sem-fundo #Home, .alto-contraste .sem-fundo #inf{
    background: #000000;
    color: #ffffff;
}
.sem-fundo #inf{
    color: #000000;
}
#secun {
    background: #f0f0f0;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: left;
}
.container {
    height: 120vh;
    display: grid;
    grid-template-columns: 85%;
}
.alto-contraste {
    background: var(--high-contrast-back);
    color: var(--high-contrast-text);
}
.opções-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.apresenta-lista {
    display: none;
}
.fw-bold {
    color: #ffffff;
    background: #00a0ff;
    border-color: #00a0ff;
    border-radius: 10px;
    padding: 5px;
}
.fw-bold:hover {
    background: #00a0a0;
    border-color: #00a0a0;
}
.fw-bold:active {
    background: #d00000;
    border-color: #d00000;
}
.link {
    background: var(--high-contrast-link);
    color: var(--high-contrast-back);
    font-weight: bold;
    padding: 3px;
}
.link:hover{
    background: #00a0a0;
}
.rating {
  display: flex;
  align-items: center;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  margin: 0 0.1rem;
}
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}
#list input{
  display: flex;
}
.newspaper{
    width: 950px;
    margin: 0 auto;
    padding: 30px 0;
}
.newspaper li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.alto-contraste .newspaper li{
    border: 2px solid #f0f0f0;
    border-radius: 10px;
}
#Tools li{
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}